<div class="row justify-content-center">
  <div class="col-10">
    <div class="card">
      <div class="card-header">
        Registration Form
      </div>
      <div class="card-body">
        <form [formGroup]="registrationForm">
          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <label for="firstName">First Name</label>
                <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="Enter First Name">
                <small *ngIf="formControls.firstName.errors && formControls.firstName.errors['required']" class="form-text text-muted error-color">Please enter your first name.</small>
              </div>
              <div class="col-lg-6 col-sm-12">
                <label for="lastName">Last Name</label>
                <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
                <small *ngIf="formControls.firstName.errors && formControls.firstName.errors['required']" class="form-text text-muted error-color">Please enter your last name.</small>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <label for="age">Age</label>
                <input formControlName="age" type="text" class="form-control" id="age" placeholder="Enter Age">
                <ng-container *ngIf="formControls.age.errors">
                  <small *ngIf="formControls.age.errors['pattern'] || formControls.age.errors['required']" class="form-text text-muted error-color">Please enter your age</small>
                </ng-container>
              </div>
              <div class="col-lg-6 col-sm-12">
                <label for="email">Email</label>
                <input formControlName="email" type="text" class="form-control" id="email" placeholder="Enter email Id">
                <ng-container *ngIf="formControls.email.errors">
                  <small *ngIf="formControls.email.errors['pattern'] || formControls.email.errors['required']" class="form-text text-muted error-color">Please enter your emailId.</small>
                </ng-container>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="card-footer text-muted text-right">
        <button type="button" class="btn btn-primary " (click)="save()" [disabled]="registrationForm.invalid">Submit</button>
      </div>
    </div>
  </div>
</div>
<br>